<!DOCTYPE html>
<html>
	<head>
	  <title>Valentine's Blog</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container bg-faded">
			<div class="col-md-9">
				<h1> <%= link_to "Valentine's blog" , '/articles' %> </h1>
			</div>
  			<div align="right">
	  			<div class="col-md-3">
	  				<h5></h5>
					<button type="button" class="btn btn-primary-outline btn-sm pull-right">Login</button>
					<button type="button" class="btn btn-primary-outline btn-sm pull-right">Logout</button>
				</div>				
			</div>	
		</div>
		<%= yield %>
		<div class="container">
			<ul class="pager">    			   			
				<li class="pager-next"><a href="#">GitHub</a></li>
				<li class="pager-next"><a href="#">Twitter</a></li>    			
				<li class="pager-next"><a href="#">Facebook</a></li>
				<li class="pager-next"><a href="#">About</a></li>     			
	  		</ul>
		</div>
	</body>
</html>
